@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-arrow-move: arrowMove 0.7s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d1f;
    --foreground: #ededed;
  }
}
@keyframes arrowMove {
  0% { transform: translateX(-50%); }
  50% { transform: translateX(-35%); }
  100% { transform: translateX(-50%); }
}
@layer utilities {
  .transform-preserve-3d {
    transform-style: preserve-3d;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  /* دوران بطيء مستمر */
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
  }
  /* shine متحرك */
  .animate-shine {
    background: linear-gradient(120deg, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.0) 100%);
    animation: shine 2s linear infinite;
  }
  @keyframes shine {
    0% { transform: translateX(-100%) rotate(45deg); }
    100% { transform: translateX(100%) rotate(45deg); }
  }
}

.whats{
  animation: topDown 2s ease-out infinite forwards;
  transform: translateY(0);

}
@keyframes topDown{
  0%{
    transform: translateY(0);
  }
  8%{
    transform: translateY(10px);
  }
  16%{
    transform: translateY(0);
  }
  24%{
    transform: translateY(10px);
  }
  32%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}